.godot/
core.5295
Settings.json
Streaming.conf
Streaming Services App.pck
Streaming Services App.sh
Streaming Services App.x86_64
Streaming App/Artwork/SteamDeckIconFull.png.import
Streaming App/Artwork/SteamDeckIcon.png.import
Streaming App/Artwork/SDStreamingLogo.png.import
Streaming App/Artwork/SDStreamingHero.png.import
Streaming App/Artwork/SDStreamingGridLong.png.import
Streaming App/Artwork/SDStreamingGrid.png.import
